<tr>
  <td><%= index_count_page order_counter, params[:page], Settings.paginate.order.per_page %></td>
  <td><%= order.receiver %></td>
  <td><%= order.address %></td>
  <td><%= order.phone %></td>
  <td><%= l order.created_at, format: t("date.format.date_time") %></td>
  <td><%= order.status %></td>
  <td><%= number_to_currency order.price %></td>
  <td>
    <%= link_to admin_order_path(order), class: "btn btn-primary" do %>
      <i class="glyphicon glyphicon-zoom-in"></i>&nbsp;<%= t ".detail" %>
    <% end %>
    <% if order.processing? %>
      <%= link_to admin_approve_path(order.id), remote: true, method: :put,
        class: "btn btn-success" do %>
        <i class="glyphicon glyphicon-ok"></i>&nbsp;<%= t ".approve" %>
      <% end %>
      <%= link_to admin_reject_path(order.id), remote: true, method: :put,
        class: "btn btn-danger" do %>
        <i class="glyphicon glyphicon-remove"></i>&nbsp;<%= t ".reject" %>
      <% end %>
    <% end %>
  </td>
</tr>
