<tr id="product_<%= product.id %>" class="text-center">
  <td><%= product.id %></td>
  <td><%= product.name %></td>
  <td><%= show_product_image product %></td>
  <td><%= product.price %></td>
  <td><%= product.quantity %></td>
  <td>
    <%= link_to edit_admin_product_path(product), class: "btn btn-info" do %>
      <i class="glyphicon glyphicon-edit"></i> <%= t ".edit" %>
    <% end %>
    <%= link_to admin_product_path(product), method: :delete,
      class: "btn btn-danger btn_delete_product" do %>
      <i class="glyphicon glyphicon-trash"></i> <%= t ".delete" %>
    <% end %>
  </td>
</tr>
